[submodule "ChatServer"]
	path = ChatServer
	url = https://github.com/classicvalues/ChatServer
[submodule "PostgreSQL"]
	path = PostgreSQL
	url = https://github.com/classicvalues/PostgreSQL
[submodule "SpamAssassin"]
	path = SpamAssassin
	url = https://github.com/classicvalues/SpamAssassin
[submodule "amavisd"]
	path = amavisd
	url = https://github.com/classicvalues/amavisd
[submodule "apache_mod_bonjour"]
	path = apache_mod_bonjour
	url = https://github.com/classicvalues/apache_mod_bonjour
[submodule "apache_mod_bw"]
	path = apache_mod_bw
	url = https://github.com/classicvalues/apache_mod_bw
[submodule "apache_mod_encoding2"]
	path = apache_mod_encoding2
	url = https://github.com/classicvalues/apache_mod_encoding2
[submodule "clamav"]
	path = clamav
	url = https://github.com/classicvalues/clamav
[submodule "dovecot"]
	path = dovecot
	url = https://github.com/classicvalues/dovecot
[submodule "HTTPServer"]
	path = HTTPServer
	url = https://github.com/classicvalues/HTTPServer
[submodule "freeradius"]
	path = freeradius
	url = https://github.com/classicvalues/freeradius
